
</tr>
</td>
<td>
    <form class="col-auto">
        <div class="mb-1">
            <label class="form-label">Fecha:</label>
            <input type="text" class="form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-1">
            <label class="form-label">Vigencia Cotización:</label>
            <input type="text" class="form-control-sm" id="exampleInputPassword1">
        </div>
        <div class="mb-1">
            <label class="form-label">forma de pago:</label>
            <input type="text" class="form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-1">
            <label class="form-label">Días de plazo:</label>
            <input type="text" class="form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    </form>
    <label for="exampleInputEmail1" class="form-label">E-MAIL:</label>
</td>
</tr>
<tr>

</tr>