<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma Tec-force</title>
    <link rel="Stylesheet" href="css/home.css" type="text/css", src="">
    
</head>
<body>
    <div id='line1' class='line1'></div>
    <div id="modulos" class="modulos">
        <a href="http://localhost:3000/" class="boton-marketing" id="boton-marketing"></a>
        <a href="http://localhost:3000/cotizador" class="boton-comercial" id="boton-comercial"></a>
        <a href="http://localhost:3000/" class="boton-finanzas" id="boton-finanzas"></a>
        <a href="http://localhost:3000/" class="boton-rrhh" id="boton-rrhh"></a>
        <a href="http://localhost:3000/" class="boton-procesos" id="boton-procesos"></a>
        <a href="http://localhost:3000/" class="boton-calidad" id="boton-calidad"></a>
        <a href="http://localhost:3000/" class="boton-legal" id="boton-legal"></a>
    </div>
    <a id='imagen-home1' class='imagen-home1' ></a>  
    <a id='imagen_tecforce' class="imagen_tecforce"></a>
    <a id='imagen_logo_CDC' class="imagen_logo_CDC"></a>
    <div style="position: absolute; top: 50px; left: 85%;">
        <a href="http://localhost:3000/" id='imagen_atras' class="imagen_atras"></a>
        <b id='cerrarsesión' class='cerrarsesión' style="left: 35px; top: 5px">Cerrar sesión</b>
    </div>
    <div id="parrafo_central" class="parrafo_central">
        <b style="font-size: 30px;">TecForce Solutions</b>
        <p>Plataforma especializada <br> en la gestión, el control,<br> 
            el análisis y el seguimiento<br> del crecimiento empresarial <br>de las PYMES.
        </p>
    </div>          
</body>
</html>