<%- include ('layouts/cabecera.ejs') %>

<form class="col-auto">
    <table id="campos_entrada" class="campos_entrada">
        <tr style="font-size: 30px; text-align: center;">
            <th colspan="2">Datos Comercial</th>
            <th colspan="2">Datos Cotización</th>

        </tr>
        <tr class="mb-1">
            <td>
                <label class="form-label">Cotización a:</label>
            </td>
            <td>
                <input type="text" class="form-control-sm">
            </td>
            <td>
                <label class="form-label">Fecha:</label>
            </td>
            <td>
                <input type="text" class="form-control-sm">
            </td>
        </tr>
        <tr>
            <td>
                <label class="form-label">Comercial:</label>
            </td>
            <td>
                <input type="text" class="form-control-sm">
            </td>
            <td>
                <label class="form-label">Vigencia Cotización:</label>
            </td>
            <td>
                <input type="text" class="form-control-sm">
            </td>
        </tr>
        <tr>
            <td>
                <label class="form-label">Numero de celular:</label>
            </td>
            <td>
                <input type="text" class="form-control-sm">
            </td>
            <td>
                <label class="form-label">forma de pago:</label>
            </td>
            <td>
                <input type="text" class="form-control-sm">
            </td>
        </tr>
        <tr>
            <td>
                <label for="exampleInputEmail1" class="form-label">E-MAIL:</label>
            </td>
            <td>
                <input type="email" class="form-control-sm" id="exampleInputEmail1">
            </td>
            <td>
                <label class="form-label">Días de plazo:</label>
            </td>
            <td>
                <input type="text" class="form-control-sm">
            </td>
        </tr>

    </table>
</form>

<%- include ('layouts/pie.ejs') %>