
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Login </title>
    <link rel="Stylesheet" href="css/login.css" type="text/css", src="">
</head>
<body>
    <div id='Campo_login' class='Campo_login'>
        <div id='linea_login' class='linea_login'></div>
        <div id='bienvenido' class='bienvenido'> 
            <b>Bienvenido</b></div>

        <div style="top: 20%;">
            <table>
                <tr>
                    <td>
                        <input id='Usuario' class='text_entry_login' type='text' placeholder='Usuario'/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id='Contraseña' class='text_entry_login' type='password' placeholder='Contraseña'/>
                    </td>
                </tr>
            </table>
        </div>
        <input id='Check_recordarme' class='Check_recordarme' type='checkbox'/>
        <b style="text-align: center; position: relative; left: 100px; top: 74px;font-family: Nunito; font-size: 12px;">Recordarme</b>
        <a href="http://localhost:3000/home" class="nave-link">
            <button id="ingresar" class="ingresar">Ingresar</button></a>
        <a id=imagen_tecforce class="imagen_tecforce"></a>
    </div>

</body>
</html>